.notes-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.staves-containers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.stave-container {
  height: 150px;
  width: 1000px;
  position: relative;
}

.stave {
  width: 100%;
  display: block;
  position: absolute;
  top: auto;
  left: 0;
  bottom: 0;
}

.note {
  width: 100px;
  border: solid 4px rgb(255, 102, 0);
  border-radius: 6px;
  margin: 20px;
}

.added-note{
  position: absolute;
  top: auto;
  bottom: 16px;
}
