header{
    height: 10%;
    min-height: 200px;
    width: 100%;
}

nav, ul{
    width: 100%;
    display: flex;
    height: 40px;
    align-items: center;
}

nav ul {
    justify-content: space-between;
    margin: 0;
}

nav li{
    list-style-type: none;
    width: 25%;
    height: 100%;
}

nav li a{
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
}