.staves-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.stave {
  height: 100px;
  width: 100%;
  position: relative;
  background: rgb(255, 102, 0);
  margin: 50px 0;
  display: flex;
  padding: 5px;
}

.added-note{
  width: 5%;
}
